body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: auto;
}

.button_main {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #1f7cff;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
}
.link-inner {
  font-weight: 400;
  font-size: 16px;
  color: #f75c4e;
  text-decoration: none;
}

.col3 {
  flex: 0 0 33%;
  max-width: 33%;
  position: relative;
  width: 100%;
}

.text-70 {
  font-weight: 700;
  font-size: 70px;
  color: #2f2f2f;
  text-align: center;
}

.header {
  padding: 8px 0;
}
.header .line_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .line_row .logo {
  display: block;
  width: 155px;
  height: 60px;
}
.header .line_row .links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header .line_row .links li a {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #070f18;
  margin-right: 32px;
  text-decoration: none;
}
.header .line_row .button_row .button {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #070f18;
  background: #f5f6fb;
  border-radius: 50px;
  padding: 8px 16px;
  border: none;
  margin-left: 16px;
}

.main_block {
  padding: 80px 0;
  background-color: #4b4a4a;
  background-image: url("../images/foto.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.main_info {
  width: 750px;
}
.main_block h1 {
  font-weight: 700;
  font-size: 70px;
  color: #ffffff;
  margin: 0 0 16px;
  line-height: 1;
}
.main_block p {
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
  margin: 0 0 32px;
}

.main_block .dots {
  position: absolute;
  bottom: 24px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_block .dots span {
  margin-right: 10px;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
}
.main_block .dots span:last-child {
  margin-right: 0;
}
.main_block .dots span.active {
  background-color: #ffffff;
}

.main_block .arrow .left {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  left: 24px;
}
.main_block .arrow .right {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 24px;
}

/* Секция партнеров */
.partners_section {
}
.partners_section .partners_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;
}
.partners_section .partners_inner .col {
  flex: 0 0 19%;
}
.partners_section .partners_inner img {
  height: 68px;
  width: 100%;
  object-fit: contain;
}

/* Секция услуг */
.services_section {
  padding: 32px 0;
  background-color: #101c2c;
}
.services_section h2 {
  color: white;
  margin-bottom: 32px;
}
.services_inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}
.card {
  padding: 24px;
  background: #ffffff;
  border-radius: 12px;
}
.card h3 {
  font-weight: 600;
  font-size: 20px;
  color: #101c2c;
  margin-bottom: 12px;
}
.card p {
  font-weight: 500;
  font-size: 16px;
  color: #101c2c;
  opacity: 0.7;
  margin-bottom: 32px;
}
.card button {
  width: 100%;
}

/*Секция Наши услуги*/
.how_we_work_section {
  padding: 64px 0;
}
.how_we_work_inner {
  display: flex;
  flex-wrap: wrap;
}
.how_we_work_inner .col3 {
  margin-bottom: 24px;
}

.how_we_work_inner h2 {
  text-align: left;
  margin-bottom: 16px;
}
.how_we_work_inner a {
  text-align: left;
}
.card-none {
  display: grid;
}
.card-none img {
  margin-bottom: 16px;
}
.card-none h3 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  color: #2f2f2f;
}
.card-none p {
  font-weight: 500;
  font-size: 16px;
  color: #2f2f2f;
  opacity: 0.7;
}

/*Секция Почему мы*/
.why_we_section {
  padding: 64px 0;
}
.why_we_section h2 {
  margin-bottom: 12px;
}
.why_we_section p {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #2f2f2f;
  opacity: 0.87;
  margin-bottom: 32px;
}
.why_we_section .why_we_inner {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background: linear-gradient(
    180deg,
    rgba(182, 186, 255, 0.2) 0%,
    rgba(35, 46, 209, 0.2) 100%
  );
  border-radius: 24px;
}
.why_we_section .why_we_inner .col3 {
  margin-bottom: 24px;
}
.why_we_section .why_we_inner img {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}
.why_we_section .why_we_inner h3 {
  font-weight: 700;
  font-size: 20px;
  color: #2f2f2f;
  margin-bottom: 12px;
  text-align: left;
}
.why_we_section .why_we_inner p {
  font-weight: 500;
  font-size: 16px;
  color: #2f2f2f;
  opacity: 0.87;
  margin-bottom: 0px;
  text-align: left;
}

/*Секция Отзывы*/
.reviews_section {
  padding: 64px 0;
  background: #f0f0f0;
}
.reviews_inner {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.reviews_section h2 {
  margin-bottom: 32px;
}
.reviews_section .info-deital .detail {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.reviews_section .info-deital .detail .images {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 50%;
}
.reviews_section .info-deital .detail .info {
  display: flex;
  flex-wrap: wrap;
}
.reviews_section .info-deital .detail .info h3 {
  font-weight: 500;
  font-size: 22px;
  color: #2f2f2f;
  margin-bottom: 4px;
}
.reviews_section .info-deital .detail .info .stars {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.reviews_section .info-deital .detail .info .stars img {
  width: 20px;
  height: 20px;
}

.text-detail {
  font-weight: 500;
  font-size: 16px;
  color: #2f2f2f;
}

/*Секция Контакты*/
.contact_section {
  padding: 64px 0;
}
.contact_section h2 {
  margin-bottom: 12px;
}
.contact_section p {
  text-align: center;
  margin-bottom: 32px;
}
.form-group {
  display: block;
  position: relative;
}
.form-group label {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-bottom: 4px;
}
.form-group .form-input {
  display: block;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 18px 32px;
  width: 100%;
  background: transparent;
}
.contact_block {
  background: #f4f6fc;
  border-radius: 12px;
  padding: 40px 80px;
}
.contact_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact_inner .form-group {
  width: 48%;
  margin-bottom: 24px;
}
.contact_section .black_button {
  display: inline-flex;
  padding: 16px 32px;
  background: #282938;
  border-radius: 41px;
  font-weight: 600;
  font-size: 18px;
  color: #f4f6fc;
}

/*Секция Футера*/
.footer {
  padding-top: 60px;
  background: #101c2c;
}
.row_footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.row_footer .images {
  width: 40%;
}
.row_footer .info {
  width: 30%;
}
.row_footer .links {
  width: 20%;
}
.row_footer .images img {
  width: 270px;
  height: 102px;
  margin-bottom: 8px;
}
.row_footer .images p {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.8;
}
.row_footer .info h2 {
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}
.row_footer .info p {
  font-weight: 500;
  font-size: 16px;
  color: #f4f6fc;
  opacity: 0.8;
}
.row_footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer_contact {
  margin-top: 32px;
  display: inline-flex;
  align-items: center;
  padding: 16px 32px;
  background: #f75c4e;
}
.footer_contact .contact_list {
  display: flex;
  flex-wrap: wrap;
}
.footer_contact .contact_list span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #282938;
  width: 100%;
  margin-bottom: 8px;
}
.footer_contact .contact_list a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #282938;
  opacity: 0.8;
  text-decoration: none;
}
